<style>
  body {
    margin:0px;
    padding:0px;
    overflow:hidden;
    background:#aaa;
  }
  h1 {
    margin:0px;
  }
  .header {
    position:relative;
    margin:0px;
    background:#333;
    height:80px;
    overflow:hidden;
  }

  .main {
    margin:0px;
    padding:0px;
    height:80vh;
    overflow-y:hidden;
    overflow-x:hidden;
    background:#aaa;
    color:white;
  }

</style>
<div id="header" class="header">
  <%= image_tag('in_flux.gif', style:'position:relative;left:340px;top:17px')%>
  <div style="display:inline-block;position:relative;left:360px;top:25px">
    <h1><em style="color:white">A Barbershop Quartet</em></h1>
  </div>
</div>
<div id="main" class="main">
  <div style="text-align:center">
    <br>
    <%= image_tag('in_flux_hawaii.jpg', width:630, height:400, style:"border:3px solid #b05") %><br><br>
      Let us sing for your next event. Contact Dave Kocharhook: dave@kocharhook.com
      <p style="color:white;text-align:center">
        Barbershop singing is a uniquely american art-form. It focuses on rich, four-part harmonies
        and blended voices that produce ringing chords.
      </p>
  </div>
</div>



