<%= image_tag('in_flux4.jpg', width:580, height:400, style:"border:3px solid #07f;border-top:none") %><br><br>
<div class="separator"></div>
<h1 style="margin-top:10px">About Us</h1>
<div class="paragraph-container">
  <p>We met each other while singing together at the <a href="http://www.barbershop-harmony.org/index.php?section=1">Peninsulaires</a> barbershop chorus,
    something we do for the sheer joy of singing. We find the rich, harmonious chords of the barbershop style
    deeply satisfying, and we formed our own quartet so that we could spend more time
    perfecting the craft. It has been our goal over the last two years to bring barbershop music to as many people
    as possible.
</div>

<%= image_tag('in_flux_singing_bw.jpg', width:580, height:200, style:"border:3px solid #07f") %><br><br>
<div class="separator"></div>
<h1 style="margin-top:10px;">About Barbershop Music</h1>
<div class="paragraph-container">
  <p style="color:white;">
    <a href="http://www.barbershop.org/">Barbershop music</a> is a uniquely American art form. It focuses on rich, four-part harmonies
    and blended voices that produce ringing chords.
  </p>
  <br>
</div>
<div class="separator"></div>
<h1 style="margin-top:10px">Hire Us</h1>
<div class="paragraph-container">
  <p style="color:white;">
    We sing at weddings, funerals, Christmas gatherings, Valentine's day events,
    and on the occasional street corner.</p>
  <p>If you would like us to sing at your next event, please send email to dave@kocharhook.com.</p>
</div>
<%= image_tag('in_flux_stanford_quad.jpg', width:580, height:400, style:"border:3px solid #07f") %><br><br>




