
/*    background-image:url("happy_days.gif"); */

.full-container {
    position:relative;
    margin:0px;
    padding:0px;
    overflow-y:hidden;
    overflow-x:hidden;
    width:100vw;
    height:100vh;
    box-sizing:border-box;
    font-size:0px;
}

.header1 {
    position:relative;
    margin:0px;
    background:#333;
    height:17vh;
    overflow:hidden;
    box-sizing:border-box;
}

.header2 {
    position:relative;
    margin:0px;
    background-image:url('happy_days_excerpt_long_gray_on_slate_scaled.gif');
    height:17vh;
    overflow:hidden;
    box-sizing:border-box;
}

.header3 {
    position:relative;
    margin:0px;
    background-image:url('happy_days_excerpt_long_gray_on_slate.gif');
    height:17vh;
    overflow:hidden;
    box-sizing:border-box;
}

.main-container {
    position:relative;
    width:100vw;
    height:83vh;
    margin:0px;
    padding:0px;
    overflow-y:hidden;
    overflow-x:hidden;
    background: #10a0e0;
    color:white;
    box-sizing:border-box;
    font-size:0px;
}

.left-column {
    display:inline-block;
    width:20vw;
    box-sizing:border-box;
    vertical-align:top;
    font-size:18px;
}

.right-column {
    padding-left:10px;
    display:inline-block;
    width:20vw;
    box-sizing:border-box;
    vertical-align:top;
    font-size:18px;
}

h1 {
    margin:0px;
    font-size:24px;
}



.main {
    display:inline-block;
    width:60vw;
    height:83vh;
    overflow-y:auto;
    overflow-x:hidden;
    vertical-align:top;
    box-sizing:border-box;
    font-size:18px;
}

.paragraph-container {
    position:relative;
    left:40px;
    top:10px;
    width:440px;
}

/*
.separator {
  position:relative;
  border:3px solid #07f;
  width:585px;
  height:10px;
  background:#705030;
}*/

.separator {
    position:relative;
    border:3px solid #35a;
    width:585px;
    background:#705030;
}
